<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#0A497B">
        <div class="container">            
            <div class="navbar-header">
                <button type="button" class="fa fa-bars" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Perfil", "ClientesWeb", new { @class = "navbar-brand" ,style="color:white" })       </li>
                    <li>@Html.ActionLink("Editar perfil", "Rutinas", "ClientesWeb", new { @class = "navbar-brand", style = "color:white" })       </li>
                    <li>@Html.ActionLink("Rutinas", "Rutinas", "ClientesWeb", new { @class = "navbar-brand", style = "color:white" })       </li>
                    <li>@Html.ActionLink("Mensualidad", "Perfil", "ClientesWeb", new { @class = "navbar-brand", style = "color:white" })   </li>
                    <li>@Html.ActionLink("Mis medidas", "Perfil", "ClientesWeb", new { @class = "navbar-brand", style = "color:white" })   </li>
                    <li>@Html.ActionLink("Cuestionario", "Perfil", "ClientesWeb", new { @class = "navbar-brand", style = "color:white" })  </li>
                    <li>@Html.ActionLink("Alimentacion", "Perfil", "ClientesWeb", new { @class = "navbar-brand", style = "color:white" })  </li>
                    <li>@Html.ActionLink("Rutinas DEMO", "Perfil", "ClientesWeb", new { @class = "navbar-brand", style = "color:white" })  </li>
                    <li>@Html.ActionLink("Salir", "Perfil", "ClientesWeb", new { @class = "navbar-brand", style = "color:white" })         </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Software's Valerio Parada</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>




