@using SuperfitApi.Models
@model MensualidadModel
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/Diseño.cshtml";
}
<div class="container">
    <br />    
    <div class="row" style="border-color:#0A497B;border-style: solid;border-radius: 20px 20px;margin-left:10px;margin-right:10px">
        <div class="col-md-12">
            <h1 style="text-align:center"> @Model.Cliente.Nombres.ToUpper()</h1>
        </div>
    </div>
    <br />
    <div class="jumbotron">
        <h1>AQUI IRA FOTO DE PERFIL</h1>
        <div class="row">
            <div class="col-sm-3">
                <h3>Fecha Inicio</h3>
            </div>
            <div class="col-sm-2">
                <h3>
                    @ViewBag.FechaI
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h3>Fecha Fin</h3>
            </div>
            <div class="col-sm-2">
                <h3>
                    @ViewBag.FechaF
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h3>Tipo Rutina</h3>
            </div>
            <div class="col-sm-6">
                <h3>
                    @ViewBag.TipoRutina
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h3>Tipo entrenamiento</h3>
            </div>
            <div class="col-sm-6">
                <h3>
                    @ViewBag.TipoEntrenamiento
                </h3>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <h2>Rutinas de ejemplo para aumento de gluteo</h2>
            <p>En desarrollo</p>
            <p><a class="btn btn-primary">Link para enviarte a la pagina &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Dietas de ejemplo</h2>
            <p>En desarrollo</p>
            <p><a class="btn btn-primary">Link para enviarte a la pagina &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Mas ejemplos</h2>
            <p>En desarrollo</p>
            <p><a class="btn btn-primary">Link para enviarte a la pagina &raquo;</a></p>
        </div>
    </div>
</div>
