@using SuperfitApi.Models

@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/Diseño.cshtml";
    MensualidadModel mes = new MensualidadModel();
    mes = ViewBag.Mes;
}
<style>
    .colorh {
        color: black;
    }

    h3 {
        color: #007bff;
        background-color: white;
        border-radius: 5px 5px;
    }

    .color {
        background-color: #007bff;
    }
</style>

<div class="container">
    <br />
    <div class="row" style="border-color:#007bff;border-style: solid;border-radius: 20px 20px;margin-left:10px;margin-right:10px">
        <div class="col-md-12">
            <h1 id="ClienteNombres" style="text-align:center">
                @mes.Cliente.Nombres.ToUpper()
            </h1>
        </div>
    </div>
    <br />
    <div class="jumbotron">
        <div style="text-align:center;">
            <img id="perfil" src="https://www.bsite.net/valerioparada/@mes.Cliente.Foto_perfil" style="display:inline-block;border-radius: 20px;width:10em;" />
        </div>
        <div style="text-align:center;margin-top:10px" class="col-md-6 offset-md-3">
            <label for="Foto_cliente_perfil" style="cursor:pointer">
                Actualizar foto de perfil
                <i class="fa fa-camera" style="display:inline-block;border-radius: 60px;;padding: 0.5em 0.6em;"></i>
            </label>
            <input style="display:none" value="Foto perfil" title="Foto perfil" type="file" data-maxsize="4200000" id="Foto_cliente_perfil" class="form-control-file my-2 check-image-size">
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="color btn btn-primary" onclick="VerEditar(@mes.Cliente.Id_cliente)">Editar perfil</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                @if (ViewBag.Finalizar != null)
                {
                    <h3 class="alter alert-danger">@ViewBag.Finalizar</h3>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="colorh">Mensualidad</h3>
            </div>
            <div class="col">
                <h3 id="EstatusId">
                    @mes.Estatus.Descripcion
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="colorh">Fecha Inicio</h3>
            </div>
            <div class="col">
                <h3 id="FechaI">
                    @mes.Fechainicio
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="colorh">Fecha Fin</h3>
            </div>
            <div class="col">
                <h3 id="FechaF">
                    @mes.Fechafin
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="colorh">Tipo Rutina</h3>
            </div>
            <div class="col">
                <h3 id="TipoRutina">
                    @mes.Tiporutina.Tipo
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="colorh">Tipo entrenamiento</h3>
            </div>
            <div class="col">
                <h3 id="TipoEntrenamiento">
                    @mes.TipoEntrenamiento.Tipo_entrenamiento
                </h3>
            </div>
        </div>
    </div>
    <hr />
    <div class="jumbotron" style="background-color:#f0f2f5;">
        <div id="Cuestionario">
            <div class="container" style="overflow-y:auto;height:500px;text-align:center;">
                <h3 style="color:#007bff;background-color:#f0f2f5;">Cuestionario</h3>
                <h5>Marque la casilla en caso de que sea si para cada pregunta</h5>
                <h3 class="letracolor" id="nameClienteDetalle"></h3>
                <input id="idclientecuestionario" style="display:none" />
                <input id="idcuestionario" style="display:none" />
                <div class="row">
                    <div class="col">
                        <label>
                            ¿Padece alguna enfermedad?
                            <input type="checkbox" id="Padece_enfermedadChk" onchange="Padece_enfermedadChk()">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <input type="text" class="form-control" id="Medicamento_prescrito_medicoTxt" placeholder="Medicamento que toma" onkeypress="" style="display:none" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>
                            ¿Ha tenido alguna lesión en músculos o articulaciones?
                            <input type="checkbox" id="lesionesChk" onchange="lesionesChk()" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <input type="text" class="form-control" id="Alguna_recomendacion_lesionesTxt" placeholder="Alguna recomendación actual del médico tratante" onkeypress="" style="display:none" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>
                            ¿Acostumbra a tomar bebidas alcohólicas?
                            <input type="checkbox" id="AlcoholChk" onchange="AlcoholChk()" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <input type="number" class="form-control" id="Veces_semana_alcoholTxt" placeholder="Cuntas veces por semana;Ej: 2" onkeypress="" style="display:none" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>
                            ¿Acostumbra a Fumar?
                            <input type="checkbox" id="FumaChk" onchange="FumaChk()" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <input type="number" class="form-control" id="Veces_semana_fumaTxt" placeholder="Cuantas veces por semana;Ej: 3" onkeypress="" style="display:none" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>
                            ¿Actualmente realizas alguna actividad física?
                            <input type="checkbox" id="Actividad_fisicaChk" onchange="Actividad_fisicaChk()" />
                        </label>
                    </div>
                </div>
                <div id="cuestionarioTime" style="display:none">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <label>¿Qué tipo de ejercicio realizas y cuánto tiempo le dedicas en cada sesión que haces?</label>
                            <input type="text" class="form-control" id="Tipo_ejerciciosTxt" placeholder="Ej: Correr 30 minutos" onkeypress="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <label>¿Cuánto tiempo llevas realizando dicha actividad de manera constante?</label>
                            <input type="text" class="form-control" id="Tiempo_dedicadoTxt" placeholder="Ej:Desde hace dos años,meses etc..." onkeypress="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <label>¿En qué horario entrenas?</label>
                            <input type="text" class="form-control" id="Horario_entrenoTxt" placeholder="Ej: Tardes de 6 a 7" onkeypress="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <label>¿Cuáles son tus metas u objetivos para lograr?</label>
                        <input type="text" class="form-control" id="MetasObjetivosTxt" placeholder="Ej: mejorar condicion... aumentar masa muscular" onkeypress="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <label>¿Qué compromiso tienes contigo mismo?</label>
                        <input type="text" class="form-control" id="CompromisosTxt" placeholder="Ej: Ser diciplinado... constante" onkeypress="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <label>¿Algún comentario adicional, antes de poder seguir y comenzar?</label>
                        <input type="text" class="form-control" id="ComentariosTxt" placeholder="..." onkeypress="" />
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-success" id="BtnEditarCuestionarioEditar" style="display:none" onclick="GuardarCuestionario()">Guardar</button>
                    <button type="button" class="btn btn-success" id="BtnEditarCuestionario" style="display:none" onclick="GuardarCuestionario()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Rutinas de ejemplo para aumento de gluteo</h2>
            <p>En desarrollo</p>
            <p><a class="color btn btn-primary">Link para enviarte a la pagina &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Dietas de ejemplo</h2>
            <p>En desarrollo</p>
            <p><a class="color btn btn-primary">Link para enviarte a la pagina &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Mas ejemplos</h2>
            <p>En desarrollo</p>
            <p><a class="color btn btn-primary">Link para enviarte a la pagina &raquo;</a></p>
        </div>
    </div>
</div>

<!--MODAL PARA Editar--->
<div class="modal fade" id="ModalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="letracolor modal-title" id="exampleModalLongTitle">Cliente</h3>
                <h5></h5>
                <button type="button" class="colorred btn btn-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <input id="idcliente" style="display:none" />
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <input type="text" class="form-control" id="IdNombreE" placeholder="Nombre(s)" onkeypress="style.borderColor='gray'" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <input type="text" class="form-control" id="IdApePE" placeholder="Apellido paterno" onkeypress="style.borderColor='gray'" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <input type="text" class="form-control" id="IdApeME" placeholder="Apellido materno" onkeypress="style.borderColor='gray'" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <input type="text" class="form-control" id="IdApodoE" placeholder="Alias" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <input type="text" class="form-control" id="IdEdadE" placeholder="Edad" maxlength="2" onkeypress="style.borderColor='gray'" oninput="this.value = this.value.replace(/[^0-9]/g,'')" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <input type="text" class="form-control" id="IdTelefonoE" placeholder="Celular" maxlength="10" onkeypress="style.borderColor='gray'" oninput="this.value = this.value.replace(/[^0-9]/g,'')" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <input type="email" class="form-control" id="IdCorreoE" placeholder="Correo elctronico" onkeypress="style.borderColor='gray'" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <input type="password" class="form-control" id="IdContraseñaE" placeholder="Contraseña" onkeypress="style.borderColor='gray'" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <select class="form-control" id="IdSexoE" name="Sexo">
                                <option value="Mujer">Mujer</option>
                                <option value="Hombre">Hombre</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">               
                <button type="button" class="color btn btn-primary" onclick="Editar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para actualizar foto de perfil-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar foto del perfil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="text-align:center">
                    <div id="preview" style="display:inline-block;border-radius: 20px;;width:25em;"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="color btn btn-primary" onclick="ActualizarFoto()">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var urlcuestionario = '@Url.Action("AgregarCuestionario", "AdministracionWebHome")';
    var urlvercuestionario = '@Url.Action("VerCuestionario", "AdministracionWebHome")';
    var urlupdate = '@Url.Action("UpdateFoto", "ClientesWeb")';
    var urleditar = '@Url.Action("EditarCliente", "AdministracionWebHome")';

    $(document).ready(function () {
        VerCuestionario();
    });
    function ModalImagen() {
        $("#exampleModal").show();
    }
    //prevializacion de la foton
    document.getElementById("Foto_cliente_perfil").onchange = function (e) {
        // Creamos el objeto de la clase FileReader
        let reader = new FileReader();

        // Leemos el archivo subido y se lo pasamos a nuestro fileReader
        reader.readAsDataURL(e.target.files[0]);

        // Le decimos que cuando este listo ejecute el código interno
        reader.onload = function () {
            let preview = document.getElementById('preview'),
                image = document.createElement('img');

            image.src = reader.result;
            image.width = '200';
            image.height = '200';
            image.style.display = 'inline-block';
            image.style.borderRadius = '20px';
            image.style.boxShadow = '0px 0px 2px #888';
            preview.innerHTML = '';
            preview.append(image);
        };
        $("#exampleModal").modal('show');
    }

    function ActualizarFoto() {
        var formdata = new FormData();
        var fotoperfil = $("#Foto_cliente_perfil")[0];
        var imagen = fotoperfil.files[0];
        formdata.append("imagen", imagen);
        $.ajax({
            type: "POST",
            url: urlupdate,
            data: formdata,
            cache: false,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data == "True") {
                    location.reload();
                }
                else {
                    swal({
                        title: "Warning!",
                        text: "Ocurrio un error",
                        type: "warning"
                    });
                }
            },
            error: function (xhr, status, error) {
                alert("Ocurrio un error verifique su conexion updateimagen");
            }
        });
    }

    //Editar datos
    function VerEditar(Id) {
        $.ajax({
            type: "GET",
            url: urleditar,
            data: { "Id_cliente": Id },
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                document.getElementById('idcliente').value = data["Id_cliente"];
                document.getElementById('IdNombreE').value = data["Nombres"];
                document.getElementById('IdApePE').value = data["Apellido_paterno"];
                document.getElementById('IdApeME').value = data["Apellido_materno"];
                document.getElementById('IdApodoE').value = data["Apodo"];
                document.getElementById('IdEdadE').value = data["Edad"];
                document.getElementById('IdTelefonoE').value = data["Telefono"];
                document.getElementById('IdCorreoE').value = data["Correo_electronico"];
                document.getElementById('IdContraseñaE').value = data["Contraseña"];
                document.getElementById('IdSexoE').value = data["Sexo"];
                console.log(data["Sexo"]);
                $('#ModalEditar').modal('show');
            },
            error: function (xhr, status, error) {
                console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                alert("Ocurrio un error verifique su conexion");
            }
        });
    }

    function Editar() {
        var parametros = {};
        parametros.Id_cliente = $('#idcliente').val().trim();
        parametros.Nombres = $('#IdNombreE').val().trim();
        parametros.Apellido_paterno = $('#IdApePE').val().trim();
        parametros.Apellido_materno = $('#IdApeME').val().trim();
        parametros.Apodo = $('#IdApodoE').val().trim();
        parametros.Edad = $('#IdEdadE').val();
        parametros.Telefono = $('#IdTelefonoE').val();
        parametros.Correo_electronico = $('#IdCorreoE').val().trim();
        parametros.Contraseña = $('#IdContraseñaE').val().trim();
        parametros.Sexo = $('#IdSexoE').val();
        var clientesModel = parametros;
        if (parametros.Nombres != "") {
            if (parametros.Nombres.length >= 3) {
                if (parametros.Apellido_paterno != "") {
                    if (parametros.Apellido_paterno.length >= 3) {
                        if (parametros.Apellido_materno != "") {
                            if (parametros.Apellido_materno.length >= 3) {
                                if (parametros.Edad != "") {
                                    if (parametros.Telefono != "" || parametros.Correo_electronico != "") {
                                        if (parametros.Contraseña != "") {
                                            $.ajax({
                                                type: "POST",
                                                url: urleditar,
                                                data: clientesModel,
                                                success: function (data) {
                                                    if (data == "True") {
                                                        location.reload();
                                                    }
                                                    else {
                                                        location.reload();
                                                    }
                                                },
                                                error: function (xhr, status, error) {
                                                    console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                                                    alert("Ocurrio un error verifique su conexion");
                                                }
                                            });
                                        }
                                        else {
                                            document.getElementById("IdContraseñaE").style.borderColor = "red";
                                        }
                                    }
                                    else {
                                        document.getElementById("IdCorreoE").style.borderColor = "red";
                                        document.getElementById("IdTelefonoE").style.borderColor = "red";
                                    }
                                }
                                else {
                                    document.getElementById("IdEdadE").style.borderColor = "red";
                                }
                            }
                            else {
                                document.getElementById("IdApeME").style.borderColor = "red";
                            }
                        }
                        else {
                            document.getElementById("IdApeME").style.borderColor = "red";
                        }
                    }
                    else {
                        document.getElementById("IdApePE").style.borderColor = "red";
                    }
                }
                else {
                    document.getElementById("IdApePE").style.borderColor = "red";
                }
            }
            else {
                document.getElementById("IdNombreE").style.borderColor = "red";
            }
        }
        else {
            document.getElementById("IdNombreE").style.borderColor = "red";
        }
    }

    //Cuestionario
    function VerCuestionario() {
        var Id = @Session["Id_Cliente"].ToString();
        document.getElementById("idclientecuestionario").value = Id;
        $.ajax({
            type: "GET",
            url: urlvercuestionario,
            data: { "Id_cliente": Id },
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                var id = data["Id_cuestionario"];
                if (id != 0) {
                    document.getElementById('idcuestionario').value = id;
                    document.getElementById('BtnEditarCuestionarioEditar').style.display = "block";
                    document.getElementById('BtnEditarCuestionario').style.display = "none";
                }
                else {
                    document.getElementById('idcuestionario').value = 0;
                    document.getElementById('BtnEditarCuestionarioEditar').style.display = "none";
                    document.getElementById('BtnEditarCuestionario').style.display = "block";
                }
                document.getElementById('Padece_enfermedadChk').checked = data["Padece_enfermedad"];
                document.getElementById('Medicamento_prescrito_medicoTxt').value = data["Medicamento_prescrito_medico"];
                document.getElementById('lesionesChk').checked = data["lesiones"];
                document.getElementById('Alguna_recomendacion_lesionesTxt').value = data["Alguna_recomendacion_lesiones"];
                document.getElementById('FumaChk').checked = data["Fuma"];
                document.getElementById('Veces_semana_fumaTxt').value = data["Veces_semana_fuma"];
                document.getElementById('AlcoholChk').checked = data["Alcohol"];
                document.getElementById('Veces_semana_alcoholTxt').value = data["Veces_semana_alcohol"];
                document.getElementById('Actividad_fisicaChk').checked = data["Actividad_fisica"];
                document.getElementById('Tipo_ejerciciosTxt').value = data["Tipo_ejercicios"];
                document.getElementById('Tiempo_dedicadoTxt').value = data["Tiempo_dedicado"];
                document.getElementById('Horario_entrenoTxt').value = data["Horario_entreno"];
                document.getElementById('MetasObjetivosTxt').value = data["MetasObjetivos"];
                document.getElementById('CompromisosTxt').value = data["Compromisos"];
                document.getElementById('ComentariosTxt').value = data["Comentarios"];
                if (data["Padece_enfermedad"] == true) {
                    document.getElementById('Medicamento_prescrito_medicoTxt').style.display = "block";
                }
                if (data["lesiones"] == true) {
                    document.getElementById('Alguna_recomendacion_lesionesTxt').style.display = "block";
                }
                if (data["Fuma"] == true) {
                    document.getElementById('Veces_semana_fumaTxt').style.display = "block";
                }
                if (data["Alcohol"]) {
                    document.getElementById('Veces_semana_alcoholTxt').style.display = "block";
                }
                if (data["Actividad_fisica"] == true) {
                    document.getElementById("cuestionarioTime").style.display = "block";
                }

            },
            error: function (xhr, status, error) {
                console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                alert("Ocurrio un error verifique su conexion (Cuestionario)");
            }
        });
    }

    function GuardarCuestionario() {
        var parametros = {};
        var Cliente = {};
        Cliente.Id_cliente = $("#idclientecuestionario").val();
        parametros.Cliente = Cliente;
        parametros.Padece_enfermedad = document.getElementById("Padece_enfermedadChk").checked;
        parametros.Medicamento_prescrito_medico = $("#Medicamento_prescrito_medicoTxt").val();
        parametros.lesiones = document.getElementById("lesionesChk").checked;
        parametros.Alguna_recomendacion_lesiones = $("#Alguna_recomendacion_lesionesTxt").val();
        parametros.Fuma = document.getElementById("FumaChk").checked;
        parametros.Veces_semana_fuma = $("#Veces_semana_fumaTxt").val();
        parametros.Alcohol = document.getElementById("AlcoholChk").checked;
        parametros.Veces_semana_alcohol = $("#Veces_semana_alcoholTxt").val();
        parametros.Actividad_fisica = document.getElementById("Actividad_fisicaChk").checked;
        parametros.Tipo_ejercicios = $("#Tipo_ejerciciosTxt").val();
        parametros.Tiempo_dedicado = $("#Tiempo_dedicadoTxt").val();
        parametros.Horario_entreno = $("#Horario_entrenoTxt").val();
        parametros.MetasObjetivos = $("#MetasObjetivosTxt").val();
        parametros.Compromisos = $("#CompromisosTxt").val();
        parametros.Comentarios = $("#ComentariosTxt").val();
        var id = $("#idcuestionario").val();
        if (id != 0) {
            parametros.Id_cuestionario = id;
            urlcuestionario = '@Url.Action("ActualizarCuestionario", "AdministracionWebHome")';
        }
        var modelo = parametros;

        $.ajax({
            type: "POST",
            url: urlcuestionario,
            data: modelo,
            success: function (data) {
                if (data == "True") {
                    location.reload();
                }
                else {
                    location.reload();
                }
            },
            error: function (xhr, status, error) {
                console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                alert("Ocurrio un error verifique su conexion");
            }
        });
    }

    /*Cuestionario*/
    function Padece_enfermedadChk() {
        var value = document.getElementById("Padece_enfermedadChk").checked;
        if (value == true) {
            document.getElementById("Medicamento_prescrito_medicoTxt").style.display = "block";
        }
        else {
            document.getElementById("Medicamento_prescrito_medicoTxt").style.display = "none";
            document.getElementById("Medicamento_prescrito_medicoTxt").value = "";
        }

    }
    function lesionesChk() {
        var value = document.getElementById("lesionesChk").checked;
        if (value == true) {
            document.getElementById("Alguna_recomendacion_lesionesTxt").style.display = "block";
        }
        else {
            document.getElementById("Alguna_recomendacion_lesionesTxt").style.display = "none";
            document.getElementById("Alguna_recomendacion_lesionesTxt").value = "";
        }

    }
    function FumaChk() {
        var value = document.getElementById("FumaChk").checked;
        if (value == true) {
            document.getElementById("Veces_semana_fumaTxt").style.display = "block";
        }
        else {
            document.getElementById("Veces_semana_fumaTxt").style.display = "none";
            document.getElementById("Veces_semana_fumaTxt").value = "";
        }
    }
    function AlcoholChk() {
        var value = document.getElementById("AlcoholChk").checked;
        if (value == true) {
            document.getElementById("Veces_semana_alcoholTxt").style.display = "block";
        }
        else {
            document.getElementById("Veces_semana_alcoholTxt").style.display = "none";
            document.getElementById("Veces_semana_alcoholTxt").value = "";
        }
    }
    function Actividad_fisicaChk() {
        var value = document.getElementById("Actividad_fisicaChk").checked;
        if (value == true) {
            document.getElementById("cuestionarioTime").style.display = "block";
        }
        else {
            document.getElementById("cuestionarioTime").style.display = "none";
            document.getElementById("Tipo_ejerciciosTxt").value = "";
            document.getElementById("Tiempo_dedicadoTxt").value = "";
            document.getElementById("Horario_entrenoTxt").value = "";
        }
    }
</script>


