@using SuperfitApi.Models

@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/Diseño.cshtml";
    MensualidadModel mes = new MensualidadModel();
    mes = ViewBag.Mes;
}
<style>
    .colorh {
        color: black;
    }
    h3 {
        color: #007bff;
        background-color: white;
        border-radius: 5px 5px;
    }
    .color {
        background-color: #007bff;
    }
</style>
<div class="container">
    <br />    
    <div class="row" style="border-color:#007bff;border-style: solid;border-radius: 20px 20px;margin-left:10px;margin-right:10px">
        <div class="col-md-12">
            <h1 id="ClienteNombres" style="text-align:center">
                @mes.Cliente.Nombres
            </h1>
        </div>
    </div>
    <br />
    <div class="jumbotron">
        <div style="text-align:center;">
            <img id="perfil" src="https://scontent.fgdl10-1.fna.fbcdn.net/v/t1.6435-9/180808007_5422339407838671_1700596020277203302_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeEUG9dgR8qfrrmJyTtRWKXW1XHmAJHouv3VceYAkei6_bidts1BsvvpaSWrLhDHhq3tk766oRgc6S9AW2sMd7SO&_nc_ohc=cNs73O1AApcAX8YSVk9&_nc_ht=scontent.fgdl10-1.fna&oh=bf57e05ff2cb4528f3924a626c0791e1&oe=60BA6AC8" width="200" height="200" />           
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <h3 class="colorh">Mensualidad:</h3>
            </div>
            <div class="col">
                <h3 id="EstatusId">
                    @mes.Estatus.Descripcion
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="colorh">Fecha Inicio:</h3>
            </div>
            <div class="col">
                <h3 id="FechaI">
                    @mes.Fechainicio
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="colorh">Fecha Fin:</h3>
            </div>
            <div class="col">
                <h3 id="FechaF">
                    @mes.Fechafin
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="colorh">Tipo Rutina:</h3>
            </div>
            <div class="col">
                <h3 id="TipoRutina">
                    @mes.Tiporutina.Tipo
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="colorh">Tipo entrenamiento:</h3>
            </div>
            <div class="col">
                <h3 id="TipoEntrenamiento">
                    @mes.TipoEntrenamiento.Tipo_entrenamiento
                </h3>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <h2>Rutinas de ejemplo para aumento de gluteo</h2>
            <p>En desarrollo</p>
            <p><a class="color btn btn-primary">Link para enviarte a la pagina &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Dietas de ejemplo</h2>
            <p>En desarrollo</p>
            <p><a class="color btn btn-primary">Link para enviarte a la pagina &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Mas ejemplos</h2>
            <p>En desarrollo</p>
            <p><a class="color btn btn-primary">Link para enviarte a la pagina &raquo;</a></p>
        </div>
    </div>
</div>



