
@{
    ViewBag.Title = "Rutinas";
    Layout = "~/Views/Shared/Diseño.cshtml";
}
    <div class="row">
        <div class="col">
            <h2 style="text-align:center">Rutina de la semana</h2>
        </div>
    </div>    
    <br />
    <div id="semana">
        <div class="row">
            <div class="col">
                <select class="form-control" id="dias">
                    @{
                        string[] dias = { "", "Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado" };
                        for (int i = 2; i < dias.Length; i++)
                        {
                            <option value="@i">@dias[i]</option>

                        }
                    }
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <h3>Sets</h3>
                <div id="sets">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-success">Primero</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-success">Primero</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-success">Primero</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-success">Primero</button>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Ejercicios</h3>
                <br />
                <div id="rutinas">
                    <div class="table-responsive">
                        <table class="table table-condensed table-striped table-hover" id="ListaEjercicios">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Dia</th>
                                    <th>Ejemplo</th>
                                    <th>Ejercicio</th>
                                    <th>Series</th>
                                    <th>Repeticiones</th>
                                    <th>Set</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    <script type="text/javascript">
        var urlsets = '@Url.Action("GetDetalleRutinaSets", "ClientesWeb")';
        var urlejercicios = '@Url.Action("GetDetalleRutinaSets", "ClientesWeb")';

        //int IdMensualidad,int IdEstatusMes,int IdDIa
        $("#dias").change(function () {
            var dia = $(this).val();
            var mens = '@Session["Mensualdiad"].ToString()';
            var estatusmes = '@Session["EstatusMensualdiad"].ToString()';
            $.ajax({
                type: "GET",
                url: urlsets,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: { "IdMensualidad": mens, "IdEstatusMes": estatusmes, "IdDIa": dia },
                success: function (data) {   
                    var c = data.length;
                    if (c > 0) {
                        var html = '<div class="row">';
                        for (var i = 0; i < data.length; i++) {
                            html += '<div class="col"><button id="set" class="btn btn-success" onclick="GetDetalleRutinaEjercicios(' + data[i].Tipo_set + ')">' + data[i].TipoSet + '</button></div>';
                        }
                        html += '</div>';
                        $('#sets').append(html);
                    }
                    else {
                        var html = '';
                        $('#sets').empty(html);
                    }
                    //var html = '';
                    //html += '<tr id="fila' + i + '">';
                    //html += '<td></td>';
                    //html += '<td></td>';
                    //html += '<td></td>';
                    //html += '<td></td>';
                    //html += '<td></td>';
                    //html += '<td></td>';
                    //html += '</tr>';
                    //
                },
                error: function (xhr, status, error) {
                    console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                    alert("Ocurrio un error verifique su conexion (Cliente)");
                }
            });
        });

    function GetDetalleRutinaEjercicios() {
        $.ajax({
            type: "GET",
            url: urleditar,
            data: { "IdMensualidad": Idmensualidad, "IdEstatusMes": idmes, "IdDIa": dia,"TipoSet":set},
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                console.log(data);
                //var html = '';
                //html += '<tr id="fila' + i + '">';
                //html += '<td></td>';
                //html += '<td></td>';
                //html += '<td></td>';
                //html += '<td></td>';
                //html += '<td></td>';
                //html += '<td></td>';
                //html += '</tr>';
                //$('#ListaEjercicios tbody').append(html);
            },
            error: function (xhr, status, error) {
                console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                alert("Ocurrio un error verifique su conexion (Cliente)");
            }
        });
    }

    </script>


